/* lilla bar  */
.navbar {
  background-color: #ba68c8;
  width: 100vw;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

.logoLink {
  text-decoration: none;
  color: white;
}

.navLinks {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}